<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="app_name" value="leo-tbox-gateway" />
	<property name="log_path" value="D:\\mine\\logs\\leo-tbox\\leo-tbox-gateway\\" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">  
		<layout class="ch.qos.logback.classic.PatternLayout">  
        	<pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS}) %-5level %logger{80} - %msg%n</pattern>  
      	</layout>  
    </appender>
    
  	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">   
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
        	<fileNamePattern>${log_path}${app_name}.%d{yyyy-MM-dd}.log</fileNamePattern>  
        </rollingPolicy>  
		<layout class="ch.qos.logback.classic.PatternLayout">  
        	<pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS}) %-5level %logger{80} - %msg%n</pattern>  
       	</layout>  
	</appender>  
    
    <appender name="errorfile" class="ch.qos.logback.core.rolling.RollingFileAppender">   
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
        	<fileNamePattern>${log_path}${app_name}-error.%d{yyyy-MM-dd}.log</fileNamePattern>  
        </rollingPolicy>  
		<layout class="ch.qos.logback.classic.PatternLayout">  
        	<pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS}) %-5level %logger{80} - %msg%n</pattern>  
       	</layout>
       	<filter class="ch.qos.logback.classic.filter.LevelFilter">  
        	<level>ERROR</level>  
        	<onMatch>ACCEPT</onMatch>  
        	<onMismatch>DENY</onMismatch>  
    	</filter>
	</appender>
    
    <logger name="cn.mine" level="DEGUG" />
    <root level="ERROR">
    	<appender-ref ref="stdout" />
    	<appender-ref ref="file" /> 
    	<appender-ref ref="errorfile" />
	</root>  
</configuration>  